NEXT_PUBLIC_DEV_APP_URL=http://localhost:3000
NEXT_PUBLIC_PROD_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000/api/auth/
NEXTAUTH_URL_INTERNAL=http://localhost:3000/api/auth/
NEXTAUTH_SECRET=
REACT_APP_EXCHANGE_RATES_DATA_API_KEY=
GOOGLE_API_KEY=
MFC_USERNAME=
MFC_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=32768
REDIS_USERNAME=default
REDIS_PASSWORD=redispw
MONGODB_URI=mongodb://0.0.0.0:27017/
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_NODE=https://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL_LINK=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SIGNING_SECRET=
STRIPE_SUBSCRIPTION_PRICE_ID=
STRIPE_150000_WATCH_POINTS_PRICE_ID=
STRIPE_300000_WATCH_POINTS_PRICE_ID=
STRIPE_450000_WATCH_POINTS_PRICE_ID=
STRIPE_150000_WATCH_POINTS_RECURRING_PRICE_ID=
STRIPE_300000_WATCH_POINTS_RECURRING_PRICE_ID=
STRIPE_450000_WATCH_POINTS_RECURRING_PRICE_ID=
PROXY_EMAIL=
PROXY_PASSWORD=
PROXY_SERVER=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PSWD=
PROXY_TOKEN=
PUPPETEER_BROWSER_PATH=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
